@import url(./_settings.css);

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--color-blue);
}

.header-nav > a {
  padding: 1em;
  text-decoration: none;
  font-family: var(--font-family);
  font-size: 17px;
  color: white;
}

.header-logo {
  display: flex;
  justify-content: center;
}

img {
  width: 14%;
  min-width: 345px;
}
