.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 26vh;
}

.data {
  font-family: var(--font-family);
  margin-top: 20px;
}

.table_container {
  margin-top: 50px;
}
